/*movil vertical*/
@media all and (min-width:360px) and (max-width:374px){
	.lpe{
        width: 45%;
        display: block;
        margin: auto;
        margin-top: 3%;
    }
    .material-icons{
        margin-top: -250%;
    }
    footer{
        text-align: center;
    }
}
/*movil horizontal*/
@media all and (min-width:640px) and (max-width:666px){
	.lpe{
        width: 30%;
        display: block;
        margin: auto;
        margin-top: 1%;
    }
    .material-icons{
        margin-top: -300%;
    }
    .txt-somos{
        font-size: initial;
        line-height: normal;
    }
}

/*Iphone vertical*/
@media all and (min-width:375px) and (max-width:639px){
	.lpe{
        width: 45%;
        display: block;
        margin: auto;
        margin-top: 3%;
    }
    .material-icons{
        margin-top: -250%;
    }
    footer{
        text-align: center;
    }
}

/*iphone horizontal*/
@media all and (min-width:667px) and (max-width:767px){
	.lpe{
        width: 30%;
        display: block;
        margin: auto;
        margin-top: 1%;
    }
    .material-icons{
        margin-top: -300%;
    }
    .txt-somos{
        font-size: initial;
        line-height: normal;
    }
}

/*ipad vertical*/
@media all and (min-width:768px) and (max-width:1023px){
	.lpe{
        width: 25%;
        display: block;
        margin: auto;
        margin-top: 1%;
    }
    .material-icons{
        margin-top: -300%;
    }
    .txt-somos{
        font-size: initial;
        line-height: 33px;
    }
}

/*ipad horizontal*/
@media all and (min-width:1024px) and (max-width:1199px){
	.lpe{
        width: 15%;
    }
    .txt-somos{
        font-size: 1.5em;
        line-height: 28px;
    }
}
/*desktop*/
@media all and (min-width: 1200px){
   
}
