
/*color del texto*/
#somos, #elegirnos{
    color: #045975;
}
.logo{
    width: 7%;
    margin-left: 5%;
    margin-top: 1%;
}

nav{
    background-color: white;
    height: 80px;
}
nav ul a{
	color: #045975;
	font-weight: bold;
}




#inicio{
    background-image: url(img/inicio.jpg);
    background-size: 100% 100%;
    height: 600px;
    margin-top: -2.5%;
}
#inicio p{
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 12% 7% 5%;
}
#inicio button{
    display: block;
    margin: auto;
    padding: 2%;
    color: white;
    background-color: #9aeba6;
    border-radius: 15px;
    border-style: none;
    font-size: 1.5em;
}


.collage{
    width: 100%;
}
.txt-somos{
    color: #045975;
    text-align: center;
    font-size: 1.5em;
    line-height: 45px;
}






/*inicio*/
#inicio{
    background-image:url(img/inicio.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 600px;
    margin-top: -2.5%;
    margin-bottom: 5%;
}
#inicio p{
    color: white;
    padding: 10%;
    text-align: center;
    font-size: 2em;
}
#inicio button{
    display: block;
    margin: auto;
    background-color: #9aeba6 !important;
    color: white;
    padding: 1%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.5em;
    border-style: none;

h3{
    text-align: center;
    color: #35c0ed;
    
    
}

#elegirnos p{
    color: #045975;
}
#elegirnos i{
    color: #9aeba6;

}

#trabajamos img{
    display: block;
    margin: auto;
    width: 15%;
}
#trabajamos h5{
    color: #35c0ed;
    text-align: center;
}
#trabajamos p{
    color: #045975;
}

#trabajamos img{
    display: block;
    margin: auto;
    width: 15%;
}

#valores img{
    width: 25%;
    display: block;
    margin: auto;
}

footer{
    margin-top: 10%;
    background-color: #045975;
    color: white !important;
    padding: 2% 0%;
    margin-top: 5%;
}

footer img{
   padding: 5%;
   width: 20%;
   margin-top: 30%;
}