
/*color del texto*/
#somos, #elegirnos{
    color: #045975;
}
html {
    font-family: 'Nanum Gothic', sans-serif;
  }

.lpe{
    width: 7%;
    margin-left: 5%;
    margin-top: 1%;
}

nav{
    background-color: white;
    height: 80px;
}
nav ul a{
	color: #045975;
	font-weight: bold;
}
.waves-effect{
    background-color: #9aeba6;
}

.sidenav-trigger{
    color: #045975 !important;
}

#inicio{
    background-image: url(img/inicio.jpg);
    background-size: 100% 100%;
    height: 600px;
    margin-top: -2.5%;
}
#inicio p{
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 12% 7% 5%;
}
#inicio button{
    display: block;
    margin: auto;
    background-color:#9aeba6;
}

.modal{
    background-color:#9aeba6;
    color: white;
}
.modal img{
    width: 10%;
    margin: 5%;
}

.collage{
    width: 100%;
}
.txt-somos{
    color: #045975;
    text-align: center;
    font-size: 1.5em;
    line-height: 45px;
}
.negritas{
    font-weight:bold;
}

/*SERVICIOS*/
h3{
    text-align: center;
    color: #35c0ed; 
}

/*POR QUE ELEGIRNOS*/
#elegirnos p{
    color: #045975;
    font-size: 1.2em;
}
#elegirnos i{
    color: #9aeba6;

}
#trabajamos img{
    display: block;
    margin: auto;
    width: 15%;
}
#trabajamos h5{
    color: #35c0ed;
    text-align: center;
}
#trabajamos p{
    color: #045975;
    font-size: 1.2em;
}
#valores img{
    display: block;
    margin: auto;
    width: 15%;
}

#valores img{
    width: 25%;
    display: block;
    margin: auto;
#valores p{
    color: #045975;
    font-size: 1.2em;
}
/*FOOTER*/
footer{
    margin-top: 10%;
    background-color: #045975;
    color: white !important;
    padding: 2% 0%;
    margin-top: 5%;
}

footer img{
   padding: 5%;
   width: 20%;
   margin-top: 30%;
    width: 20%;
    padding: 5%;
    margin-top: 20%;
}
footer a{
    color: white;
}
